<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Phone Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<th:block th:unless="${phoneBookModel.getStatus()} == null">
    <p style="color:green" th:text="${phoneBookModel.getStatus()}"></p>
</th:block>
<form th:action="@{/phonebook}" th:object="${phoneBookModel}" method="post">
    <p>Фамилия(lastname): <input type="text" th:disabled="${phoneBookModel.getDisabledElements().get('input')}"
                                 th:field="*{lastname}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>

    <p>Имя(firstname): <input type="text" th:disabled="${phoneBookModel.getDisabledElements().get('input')}"
                              th:field="*{firstname}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>

    <p>Рабочий телефон(workphone): <input th:disabled="${phoneBookModel.getDisabledElements().get('input')}" type="text"
                                          th:field="*{workphone}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('workphone')}" th:errors="*{workphone}"></p>

    <p>Мобильный телефон(mobilephone): <input th:disabled="${phoneBookModel.getDisabledElements().get('input')}"
                                              type="text" th:field="*{mobilephone}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('mobilephone')}" th:errors="*{mobilephone}"></p>

    <p>e-mail(mail): <input th:disabled="${phoneBookModel.getDisabledElements().get('input')}" type="text"
                            th:field="*{mail}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>

    <p>Дата рождения(birthdate): <input th:disabled="${phoneBookModel.getDisabledElements().get('input')}" type="text"
                                        th:field="*{birthdate}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></p>
    <p>
        <input type="submit" value="Очистить(clean)" th:disabled="${phoneBookModel.getDisabledElements().get('clean')}"
               name="cleanPhoneBookForm"
               class="button"/>
        <input type="submit" value="Добавить(add)" th:disabled="${phoneBookModel.getDisabledElements().get('add')}"
               name="addPhoneBookForm"
               class="button"/>
        <input type="submit" value="Отправить(send)" th:disabled="${phoneBookModel.getDisabledElements().get('send')}"
               name="sendPhoneBookForm"
               class="button"/>
    </p>
</form>
</body>
</html>