<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Place Of Work</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="listplaceofworks">Список мест работы</a>
<th:block th:unless="${status} == null">
    <p style="color:green" th:text="${status}"></p>
</th:block>
<form th:action="@{/addplaceofwork}" th:object="${placeOfWorkModel}" method="post">
    <p>Фамилия(lastname): <input type="text" th:field="*{lastname}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>

    <p>Имя(firstname): <input type="text" th:field="*{firstname}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>

    <p>Место работы(work): <input type="text" th:field="*{work}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('work')}" th:errors="*{work}"></p>

    <p>Адрес работы(workaddress): <input type="text" th:field="*{workaddress}"/></p>
    <p style="color:red" th:if="${#fields.hasErrors('workaddress')}" th:errors="*{workaddress}"></p>

    <p>
        <input type="submit" value="Очистить(clean)" name="cleanPlaceOfWorkForm" class="button"/>
        <input type="submit" value="Добавить(add)" name="addPlaceOfWorkForm" class="button"/>
    </p>
</form>
</body>
</html>