<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Place Of Work</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="addplaceofwork">Добавление места работы</a>
<th:block th:unless="${status} == null">
    <p style="color:green" th:text="${status}"></p>
</th:block>
<form th:action="@{/listplaceofworks}" th:object="${searchPlaceOfWorkModel}" method="post">
    <p>
        <select th:field="*{filterNumber}">
            <option th:each="entry : ${allFilters}"
                    th:value="${entry.key}"
                    th:text="${entry.value}"></option>
        </select>
        <input type="text" th:field="*{value}" size="128">
    </p>
    <p>
        <input type="submit" value="Искать(search)" name="search" class="button"/>
    </p>
</form>

<table>
    <thead>
    <tr>
        <th>Ид(id)</th>
        <th>Фамилия(lastname)</th>
        <th>Имя(firstname)</th>
        <th>Место работы(work)</th>
        <th>Адрес работы(workaddress)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="placeofwork: ${placeofworks}">
        <td th:text="${placeofwork.getId()}"></td>
        <td th:text="${placeofwork.getLastname()}"></td>
        <td th:text="${placeofwork.getFirstname()}"></td>
        <td th:text="${placeofwork.getWork()}"></td>
        <td th:text="${placeofwork.getWorkaddress()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>